.linktree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding: 10rem;
}

.link:hover {
  color: #0077b5;
}
