.linktree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:75vh;
}
  @media only screen and (max-width: 391px) {
  .linktree-container {
    height: 65vh;
  }
}


 a {
  border: 2px solid black;
  width: 100%;
  padding: 0.3rem;
  padding-left:2em;
  padding-right:2em;
  margin-bottom: 10rem;
  min-width: 50px;
  gap:30px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Roboto',;
  border-radius: 5px;
  font-weight: 700;
}

a:visited {
    color: blue;
}


div {
    margin-bottom: 1em;
    min-height: 40px;
}
